head
    meta(charset="UTF-8")
    title #{user.username}
    style
        include ../../public/register.css
body
    if loggedin
        include ../../private/header.pug
    else
        include ../partials/header.pug
    div#users
        br
        h1 Profile for #{user.username}
        h3 User #ID: #{user._id}
        br