style.
	a {
		padding: 60px;
		text-align: left;
		font-size: 18px;
	}

div#header
	a.home(href="/home") Home
	a.stats(href="/users") Users
	a.order(href="/order") Order
	a.logout(href="/logout") Logout
